body, html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.bg-img {
  /* The image used */
  background-image: asset_url("bkgnd_home.jpg");

  min-height: 520px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Add styles to the form container */
.container-login {
  position: absolute;
  right: 0;
  margin: 50px;
  max-width: 300px;
  padding: 16px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px #00000033;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.container-form {
  position: relative;
  padding: 16px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px #00000033;;
  margin: 2em 2em 2em 20em;
}

.cards-profile {
  box-shadow: 0 2px 4px #00000033;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.fa-check{
  color: #45AD43;
  font-size: 20px;
}

.fa-exclamation-triangle{
  color: #9b2226;
  font-size: 20px;
}

.table {
  background-color:white;
  box-shadow:0 2px 4px #00000033;
  font-size:14px;
}

/* page my contracts */
.profile-ct{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color:#191919;
  a {
    text-decoration: none;
    color: #191919;
  }
}

.profile-ct-ul{
  padding-left: 10px;
}

.profile-ft{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color:#191919;
  a {
    text-decoration: none;
    color: #191919;
  }
}

.profile-ft-ul{
  padding-left: 50px;
}

.profile-page{
  .fa-file-alt {
    color: #1351B4;
    font-size: 18px;
  }
  .fa-robot {
    color: #1351B4;
    font-size: 18px;
  }

  .fa-handshake{
    color: #1351B4;
    font-size: 18px;
  }

  .fa-plus{
    color: #1351B4;
    font-size: 16px;
  }
}

/* page show term */
.show-term{
  .fa-calendar-alt{
    color: #191919;
    font-size: 18px;
  }
  .fa-thumbtack{
    color: #1351b4;
    font-size: 15px;
    padding-left: 5px;
  }

  .fa-file-import, .fa-robot{
    color: #1351b4;
    font-size: 17px;
    padding: 4px;
  }

  .fa-user-plus{
    color: #191919;
    font-size: 16px;
  }
}

/* page analysis */
.analysis-header {
  a {
    text-decoration: none;
    color: #191919;
  }
}

/* index commissions */
.fa-calendar-check {
  color: #1351B4;
  font-size: 18px;
}

.fa-calendar-times {
  color: gray;
  font-size: 18px;
}

.courier {
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
}
