body, html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.bg-img {
  /* The image used */
  background-image: asset_url("bkgnd_home.jpg");

  min-height: 520px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Add styles to the form container */
.container {
  position: absolute;
  right: 0;
  margin: 50px;
  max-width: 300px;
  padding: 16px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px #00000033;;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.container-form {
  position: relative;
  padding: 16px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px #00000033;;
  margin: 2em 2em 2em 20em;
}

.cards-profile {
  box-shadow: 0 2px 4px #00000033;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.fa-check{
  color: #45AD43;
  font-size: 20px;
}

.fa-exclamation-triangle{
  color: #FABD10;
  font-size: 20px;
}
