<div class="container-md mt-5">
  <div class="row justify-content-center">
    <div class="col-10">
      <h5 style="text-align:center">
        <%= "Editar contrato n. #{@contract.number}" %></h5>
          <hr>
        <div class="form m-4">

          <%= render 'shared/form', contract: @contract %>

        </div>
          <hr>

            <%= link_to "Voltar à página do contrato n. #{@contract.number}", @contract, class:"btn-custom-light" %>
            <%= link_to 'Meus contratos', profile_path, class:"btn-custom-light"%>
            <br>
    </div>
  </div>
</div>

