<div class="container-form d-flex justify-content-center" style="max-width:600px;">
  <div class="row" style="width:100%;">
    <div style="width:100%;" >
      <h5 style="text-align:center"><b>Novo contrato</b></h5>
      <hr>
      <div class="m-4" >
        <%= render 'shared/form' %>

        <br>
        <div >
          <%= link_to 'Meus contratos', profile_path, class:"btn-custom-light" %>
        </div>
      </div>
    </div>
  </div>
</div>
