<div class="container mt-4">
  <div class="row">
    <div class="col-sm-6">
      <div class="" id="">
        <h5>Novo contrato</h5>
          <div class="m-4">
            <%= render 'form' %>
            <br>
          </div>
      </div>
        <div class="">
          <%= link_to 'Voltar', contracts_path %>
        </div>
    </div>
  </div>
</div>
