<div class="container-md mt-5">
  <div class="row">
    <div class="col-8">
      <h5><strong> <%= "Editar vigência do contrato nº #{@term.contract.number}" %> </strong></h5>
        <div class="form m-5">
          <%= render 'shared/form_term', contract: @contract, term: @term %>
        </div>
          <hr>

          <div class="btn btn-light">
            <%= link_to 'Voltar', contracts_path %>
          </div>
    </div>
  </div>
</div>
