<% if user_signed_in? %>
    <h1>Em construção</h1>
    <br>
    <hr>
    <%= link_to 'Ver contratos', contracts_path %>
    <br>
    <%= link_to 'Novo contrato', new_contract_path %>
<% else %>
  <div class="bg-img">
    <div class="text-block">
      <h3>Gestel Fácil</h3>
      <p>Desenvolvido pela Terceira Turma do Coding Bootcamp de
         Desenvolvimento Web da <b>Enap</b>, em parceria com a <b>Le Wagon</b>, visa facilitar
         a fiscalização de contratos de telefonia na Administração Pública.</p>
    </div>
  </div>
<% end %>
