<div class="container-md mt-5">
  <div class="row">
    <div class="col-8">
      <h4><strong>Cadastrar itens/serviços </strong></h4>
        <div class="form m-5">
          <%= render 'shared/form_item' %>
        </div>
          <hr>

          <div class="btn btn-info mr-5">
            <%= link_to "Voltar", contract_path(@term.contract_id) %>
          </div>
          <div class="btn btn-light">
            <%= link_to 'Todos os contratos', contracts_path %>
          </div>

    </div>
  </div>
</div>
