.card-home {
  margin: 5px;
  box-shadow: 0 2px 4px #00000033;
  border-radius: 5px;
  background-color: white;
  color: #2670e8;
  text-align:center;
  padding:40px;
  a {
    color: #0c326f;
    text-decoration: none;
  }


}
