.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: 0 3px 6px #00000029;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 111px;
  height: 40px;
}
