<!-- Contexto: invoices_uniq_number -->
  <% @my_commissions.each do |commission| %>
    <% commission.contract.terms.each do |term| %>
      <% invoices_uniq_number = term.invoices.uniq(&:number)%>
        <% invoices_uniq_number.each do |invoice| %>
<!-- Check -->
          <tr class="line">
          <td class="item" style="padding-left:25px;">1) A fatura foi emitida em favor do CNPJ do órgão contratante?
            <% if invoice.cnpj_contractor == invoice.term.contract.cnpj_contractor  %>
              <p style="padding-left:25px;color:#007575;">Fatura: <%= invoice.cnpj_contractor %>,
              Contrato: <%= invoice.term.contract.cnpj_contractor  %></p>
            <% else %>
              <p style="padding-left:25px;color:#9b2226;">Fatura: <%= invoice.cnpj_contractor %>,
              Contrato: <%= invoice.term.contract.cnpj_contractor  %>. Verifique se houve alteração contratual não
              registrada no sistema ou conteste o faturamento junto à contradada.</p>
            <% end %>
          </td>
          <td class="result text-center" style="padding-left:25px;">
            <% if invoice.cnpj_contractor == invoice.term.contract.cnpj_contractor  %>
              <i class="fas fa-check"></i>
            <% else %>
              <i class="fas fa-exclamation-triangle"></i>
            <% end %>
          </td>
          </tr>
<!-- Contexto -->
    <% end %>
  <% end %>
<% end %>
