<!-- Contexto: invoices_uniq_number -->
        <% @my_commissions.each do |commission| %>
          <% commission.contract.terms.each do |term| %>
            <% invoices_uniq_number = term.invoices.uniq(&:number)%>
              <% invoices_uniq_number.each do |invoice| %>
<!-- Check -->
            <tr class="line">
              <td class="item">4) Checagem da inexistência de palavras pré-definidas no campo de descrição dos serviços faturados:</td>
              <td></td>
            </tr>
            <tr class="line-subitem">
              <td class="subitem"> 4.1) multa, mul</td>
              <td class="result text-center">
                <% if invoice.service_name.downcase.include? "multa" or invoice.service_name.downcase.include? "mul" %>
                  <i class="fas fa-exclamation-triangle"></i>
                  <% else %>
                  <i class="fas fa-check"></i>
                <% end %>
              </td>
            </tr>
            <tr class="line-subitem">
              <td class="subitem"> 4.2) encargo, enc </td>
              <td class="result text-center">
                <% if invoice.service_name.downcase.include? "encargo" or invoice.service_name.downcase.include? "enc" %>
                  <i class="fas fa-exclamation-triangle"></i>
                  <% else %>
                  <i class="fas fa-check"></i>
                <% end %>
              </td>
            </tr>
            <tr class="line-subitem">
              <td class="subitem"> 4.3) juros, jur </td>
              <td class="result text-center">
                <% if invoice.service_name.downcase.include? "juros" or invoice.service_name.downcase.include? "jur" %>
                  <i class="fas fa-exclamation-triangle"></i>
                  <% else %>
                  <i class="fas fa-check"></i>
                <% end %>
              </td>
            </tr>
<!-- Contexto -->
    <% end %>
  <% end %>
<% end %>
