<!-- Contexto: invoices_uniq_service -->
        <% @my_commissions.each do |commission| %>
          <% commission.contract.terms.each do |term| %>
            <% invoices_uniq_service = term.invoices.uniq{ |invoice| [invoice.number, invoice.service_code] }  %>

<!-- Check -->
                <tr>
                  <td class="">3) Os serviços localizados na fatura correspondem aos serviços contratados e vigentes?<p></p>
<!-- Contexto -->
                    ENCONTRADO: <% invoices_uniq_service.each do |invoice| %>
                      <strong><%= "#{invoice.service_code}"%></strong>
                      <%=" - #{invoice.service_name}" %>
                    <% end %>
                  </td>
                    <td class="text-center">
                      <% if  %>
                        <i class="fas fa-check"></i>
                        <% else %>
                        <i class="fas fa-exclamation-triangle"></i>
                          Fatura: <%= invoice.date_invoice %>
                          Contrato: <%= "#{invoice.term.date_start} - #{invoice.term.date_end}"  %>
                        <% end %>
                  <% end %>
                  </td>
                </tr>
<!-- Contexto -->
    <% end %>
